<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.8" targetFramework="net40-client" />
  <package id="Microsoft.Windows.Shell" version="3.0.1.0" targetFramework="net40-client" />
  <package id="NLog" version="4.2.3" targetFramework="net40-client" />
  <package id="NLog.Config" version="4.2.3" targetFramework="net40-client" />
  <package id="NLog.Schema" version="4.2.3" targetFramework="net40-client" />
</packages>